

<!DOCTYPE HTML>


<html>
    
    <meta charset="utf-8">

    <%- partial('_partial/header') %>
    <body class='is-preload'>

        <%- body %>

        <%- partial('_partial/footer') %>
    </body>
</html>
